page-adverts {
    .header .toolbar-background {
        background-color: color($colors, primary);
        border-color: color($colors, primary);
    }
    
    .toolbar-title {
        color: color($colors, light);
    }
}

.page-adverts {
    background: color($colors, primary);
    color: color($colors, light);
}
