<form name="form" (ngSubmit)="f.form.valid && onsubmit.next('submitted')" #f="ngForm" novalidate>
    <ion-item no-padding>
        <ion-label floating>Advert title</ion-label>
        <ion-input name="title" type="text" [(ngModel)]="model.title" #title="ngModel" required autocapitalize="off" autocorrect="off"></ion-input>
    </ion-item>
    <ion-item no-padding>
        <ion-label floating>Description</ion-label>
        <ion-input name="description" type="text" [(ngModel)]="model.description" #description="ngModel" required autocapitalize="off"
        autocorrect="off"></ion-input>
    </ion-item>
    <ion-item no-padding>
        <ion-label floating>Price</ion-label>
        <ion-input name="price" type="number" [(ngModel)]="model.price" #price="ngModel" autocapitalize="off" autocorrect="off"></ion-input>
    </ion-item>
    <ion-item no-padding>
        <ion-label floating>County</ion-label>
        <ion-select required [(ngModel)]="model.county" name="county">
            <ion-option *ngFor="let county of countiesList" [value]="county">{{county}}</ion-option>
        </ion-select>
    </ion-item>
    <div class="form-group">
        <p><button [disabled]="!f.form.valid" block ion-button>{{buttonText}}</button></p>
    </div>
</form>