<ion-header>
	<ion-navbar hideBackButton>
		<ion-buttons left>
			<button ion-button (click)="tryToGoBack()">
            <ion-icon class="customIcon" name="arrow-back"></ion-icon>
        </button>
		</ion-buttons>
		<ion-title>Create Advert</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding text-center>

	<div *ngIf="!this.userService.isSomeoneLoggedIn()">
		<p>You need to login or register to create an advert</p>
		<p><button block ion-button (click)="toLogin()">Login</button></p>
	</div>

	<div *ngIf="this.userService.isSomeoneLoggedIn()">
		<record-video-button-component *ngIf="isUsingCordova" [(videoData)]="videoData"></record-video-button-component>

		<file-upload-component [(videoData)]="videoData"></file-upload-component>

		<video-component *ngIf="videoData.length" [src]="videoData[0].fullPath"></video-component>

		<advert-form-component [model]="model" [buttonText]="'Create advert'" (onsubmit)="createAdvert()"></advert-form-component>
	</div>

</ion-content>