<ion-header>
  <ion-navbar> <!--TODO sort the back button here as probably shouldn't show.-->
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Favourites</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="favourites.length"> <!--TODO view is weird using it this way as shows no adverts until adverts load-->
    <advert-component *ngFor="let advert of favourites" [advert]="advert" [loggedIn]="this.userService.isSomeoneLoggedIn()"></advert-component>
  </div>

  <ion-fab right bottom (click)="toPlaceAdvert()">
    <button ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <div *ngIf="!favourites.length">
    <h5 padding >You don't have any favourite adverts.</h5>
  </div>  

</ion-content>
