<ion-header>
  <ion-navbar> <!--TODO sort the back button here as probably shouldn't show.-->
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
    <ion-title>Favourites</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-favourites">
  <div *ngIf="favourites.length"> <!--TODO view is weird using it this way as shows no adverts until adverts load-->
    <h6 padding >You have {{favourites.length}} favourite{{favourites.length == 1 ? '' : 's'}}.</h6>
    <advert-component *ngFor="let advert of favourites" [advert]="advert"></advert-component>
  </div>
  <div *ngIf="!favourites.length">
    <h6 padding >You don't have any favourite adverts.</h6>
  </div>  
</ion-content>
