// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #AA3939,
  secondary:  #7A9F35,
  tertiary:   #D49A6A,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
//card
$card-ios-padding-left: 5px;
$card-ios-padding-right: 5px;
$card-ios-margin-left: 0;
$card-ios-margin-right: 0;
$card-ios-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
$card-ios-padding-top: 0;
$card-ios-padding-bottom: 0;
//badge
$badge-ios-background-color: color($colors, secondary);
//searchbar
$searchbar-ios-background-color: rgba(0, 0, 0, 0);
$searchbar-ios-input-height: 5rem;
.searchbar-ios .searchbar-search-icon {
  top: 18px !important;
}
//toolbar
$toolbar-background: color($colors, light);
$toolbar-ios-border-color: color($colors, light);
$toolbar-ios-padding: 10px;
$toolbar-ios-title-font-weight: normal;
$toolbar-ios-height: 54px;
$toolbar-ios-title-text-align: center;
//menu - more menu restyling in app.scss
$menu-ios-background: color($colors, secondary);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here - BUT DOESN'T MATTER AS USING IOS STYLING


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here - BUT DOESN'T MATTER AS USING IOS STYLING


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
