<ion-menu [content]="content">
	<ion-header>
		<ion-toolbar>
			<ion-title *ngIf="this.userService.isSomeoneLoggedIn()">Hello {{this.userService.getLoggedInUser().firstName}}</ion-title>
			<ion-title *ngIf="!this.userService.isSomeoneLoggedIn()">Please login</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-content>
		<ion-list>
			<ion-card>
				<button menuClose ion-item (click)="toAdverts()">
					Adverts
				</button>
			</ion-card>  
			<div *ngIf="!this.userService.isSomeoneLoggedIn()">
				<ion-card>
					<button menuClose ion-item (click)="toLogin()">
						Login
					</button>
				</ion-card>
				<ion-card>
					<button menuClose ion-item (click)="toRegister()">
						Register
					</button>
				</ion-card>
			</div>
			<div *ngIf="this.userService.isSomeoneLoggedIn()">
				<ion-card>
					<button menuClose ion-item (click)="toMyAdverts()">
						My Adverts
					</button>
				</ion-card>
				<ion-card>
					<button menuClose ion-item (click)="toMyFavourites()">
						My Favourites
					</button>
				</ion-card>
				<ion-card>
					<button menuClose ion-item (click)="toMyFavourites()">
						Account
					</button>
				</ion-card>
				<ion-card>
					<button menuClose ion-item (click)="logout()">
						Logout
					</button>
				</ion-card>
			</div>
		</ion-list>
	</ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>