<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header *ngIf="this.userService.isSomeoneLoggedIn()" color="light">
        Hello {{this.userService.getLoggedInUser().firstName}}
      </ion-list-header>

      <button menuClose ion-item (click)="toAdverts()">
        Adverts
      </button>
      <div *ngIf="!this.userService.isSomeoneLoggedIn()">
        <button menuClose ion-item (click)="toLogin()">
          Login
        </button>
        <button menuClose ion-item (click)="toRegister()">
          Register
        </button>
      </div>
      <div *ngIf="this.userService.isSomeoneLoggedIn()">
        <button menuClose ion-item (click)="toMyAdverts()">
          My Adverts
        </button>
        <button menuClose ion-item (click)="toMyFavourites()">
          My Favourites
        </button>
        <button menuClose ion-item (click)="logout()">
          Logout
        </button>
      </div>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>