<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header *ngIf="this.userService.someoneLoggedIn()" color="light">
        Hello {{this.userService.getLoggedInUser().firstName}}
      </ion-list-header>

      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p.component)" >
        {{p.title}}
      </button>
      <div *ngIf="!this.userService.someoneLoggedIn()">
        <button menuClose ion-item  (click)="toLogin()">
          Login
        </button>
        <button menuClose ion-item  (click)="toRegister()">
          Register
        </button>
      </div>
      <button *ngIf="this.userService.someoneLoggedIn()" menuClose ion-item  (click)="logout()">
        Logout
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<alert></alert>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>