<!-- TODO SORT OUT VIDEOJS AS IT MAKES THE APP INCREDIBLY SLOW. -->
<!-- these are the removed classes:    class="video-js vjs-default-skin  vjs-4-3" -->
<video #video 
    style="width: 100%; height: 380px; background: black;"
    class="" 
    controls 
    preload="auto" 
    [poster]="poster"
    data-setup=''>
    <source [src]="src" type='video/mp4'>
    <source [src]="src" type='video/webm'>
    <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web browser that
    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
</video>