<ion-card>
    <ion-item>
        <h2>{{advert.title}}</h2>
        <p>{{advert.city}}, {{advert.county}}</p>
        <ion-badge  item-end>{{advert.price | currency:'EUR':true}}</ion-badge>
    </ion-item>
    <video #video 
        class="video-js vjs-default-skin" 
        controls 
        preload="auto" 
        poster="http://video-js.zencoder.com/oceans-clip.jpg" 
        data-setup='{}'>
      <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4'>
      <source src="MY_VIDEO.webm" type='video/webm'>
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </video>
    <ion-card-content>
        <ion-grid>
        <ion-row>
            <ion-col>
            <p>{{advert.description}}</p>
            </ion-col>
            <ion-col *ngIf="user && user.id" col-1 (click)="toggleFavourite(advert)">
            <ion-icon color="danger" name="heart-outline" ios="md-heart-outline" md="md-heart-outline"></ion-icon>
            <!-- <ion-icon color="danger" name="heart" ios="md-heart" md="md-heart"></ion-icon> -->
            </ion-col>
        </ion-row>
        </ion-grid>  
        <p text-right>{{advert.created | amTimeAgo}}</p>
    </ion-card-content>
</ion-card>