<ion-card>
    <ion-item>
        <h2>{{advert.title}}</h2>
        <p>{{advert.city}}, {{advert.county}}</p>
        <ion-badge  item-end>{{advert.price | currency:'EUR':true}}</ion-badge>
    </ion-item>
    <video #video 
        class="video-js vjs-default-skin" 
        controls 
        preload="auto" 
        poster="http://video-js.zencoder.com/oceans-clip.jpg" 
        data-setup='{}'>
      <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4'>
      <source src="MY_VIDEO.webm" type='video/webm'>
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </video>
    <ion-card-content>
        <ion-grid>
            <ion-row>
                <ion-col col-10>
                    <p>{{advert.description}}</p>
                </ion-col>
                <ion-col>
                    <favourite-button-component text-center [advertId]="advert.id"></favourite-button-component>
                </ion-col>    
            </ion-row>
            <ion-row>
                <ion-col col-10>
                    <button ion-button>Offer</button>
                    <button ion-button color="light">Ask a question</button>
                </ion-col>
                <ion-col>
                    <p class="small" text-center>{{advert.created | amTimeAgo}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>  
    </ion-card-content>
</ion-card>