<ion-card>
    <ion-item>
        <h2>{{advert.title}}</h2>
        <p>{{advert.city || 'No city specified'}}, {{advert.county}}</p>
        <ion-badge secondary item-end>{{advert.price | currency:'EUR':true}}</ion-badge>
    </ion-item>

    <video-component 
        [poster]="'https://dstqaa92re5c4.cloudfront.net/Images/Giant/Vibes/2017/bikecatalogueblocks/off-road_3.jpg'" 
        [src]="'https://vjs.zencdn.net/v/oceans.mp4'">
    </video-component>

    <ion-card-content>
        <ion-grid>
            <ion-row align-self-start>
                <ion-col col-10>
                    <p>{{advert.description}}</p>
                </ion-col>
                <ion-col>
                    <favourite-button-component text-right [advertId]="advert.id"></favourite-button-component>
                </ion-col>    
            </ion-row>
            <ion-row align-items-end>
                <ion-col col-8>
                    <button ion-button>Offer</button>
                </ion-col>
                <ion-col>
                    <p class="small" text-right>{{advert.created | amTimeAgo}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>  
    </ion-card-content>
</ion-card>