page-my-adverts {
    .header .toolbar-background {
        background-color: color($colors, tertiary);
        border-color: color($colors, tertiary);
    }
    
    .toolbar-title {
        color: color($colors, light);
    }
}

.page-my-adverts {
    background: color($colors, tertiary);
    color: color($colors, light);
}
